.caption {
  color: @color-white;
}

.caption__header {
  max-width: 228px;
  margin: 29px auto 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  text-align: center;

  @media (min-width: @tablet-width) {
    max-width: 620px;
    margin: 66px auto 0;
    font-size: 50px;
    font-weight: 300;
    line-height: 68px;
  }

  @media (min-width: @desktop-width) {
    max-width: 747px;
    margin: 64px auto 0;
  }
}

