.contacts__inner {
  padding-top: 19px;
  padding-bottom: 32px;
  text-align: center;

  @media @tablet-width {
    padding-top: 45px;
    padding-bottom: 22px;
  }

  @media @desktop-width {
    padding: 60px 0 17px;
  }
}

.contacts__text {
  margin-top: 24px;
  margin-bottom: 34px;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;

  @media @tablet-width {
    margin: 0 auto;
    width: 500px;
    font-size: 40px;
    line-height: 54px;
  }

  @media @desktop-width {
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts__item {
  margin-bottom: 16px;
  width: 280px;

  @media @tablet-width {
    margin-bottom: 41px;
  }

  @media @desktop-width {
    margin-bottom: 0;
  }

  &--phone {
    @media @desktop-width {
      order: 1;
    }
  }

  &--email {
    @media @desktop-width {
      order: 3;
    }
  }

  &--address {
    @media @desktop-width {
      order: 2;
    }
  }

  &:nth-child(1) {
    margin-bottom: 17px;
  }

  &:nth-child(2) {
    margin-bottom: 21px;

    @media @desktop-width {
      margin-left: 21px;
    }
  }

  &:nth-child(3) {
    @media @tablet-width {
      margin-top: 20px;
    }

    @media @desktop-width {
      margin-left: 20px;
      margin-top: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;

  @media @tablet-width {
    margin-bottom: 4px;
  }

  @media @desktop-width {
    margin-bottom: 21px;
  }
}

.contacts__data,
.contacts__data a {
  margin: 0;
  margin-left: 0;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 34px;
  color: @color-hit;
}

.contacts__data,
.contacts__data a {
  color: @color-hit;
  text-decoration: none;

  &:hover {
    color: @color-button-disabled;
    text-decoration: underline;
  }

  &:active {
    color: fade(@color-button-disabled, 30%);
  }
}

