.form-composition {
  display: grid;
  grid-auto-rows: auto;

  @media (min-width: @tablet-width) {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    row-gap: 56px;
  }
}

.form-composition fieldset{
  border: none;
  margin: 0;
  padding: 0 20px 43px;

  @media (min-width: @tablet-width) {
    order: 1;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: 15px;
  }
}

.form-checkbox {
  margin: 0;
  padding-top: 39px;
  padding-bottom: 21px;

  @media (min-width: @tablet-width) {
    order: 4;
    background-color: transparent;
    margin: 0;
    padding: 58px 0;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0;
  }
}

.form-composition__fieldset--contacts {
  margin: 0;
  padding: 32px 20px 27px;

  @media (min-width: @tablet-width) {
    order: 3;
    margin-top: 19px;
    padding: 36px 0 28px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0;
    margin: 0;
    padding-top: 6px;
  }
}

.form-radio {
  padding-top: 37px;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    order: 2;
    background-color: transparent;
    margin: 0;
    padding: 0;
    padding-top: 58px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0;
  }
}

.form-composition__fieldset--review {
  @media (min-width: @tablet-width) {
    order: 5;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.form-composition__control {
  padding: 20px 20px;

  @media (min-width: @tablet-width) {
    order: 6;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0;
    margin-top: 8px;
  }
}

.form-composition__fieldset-wrapper {
  background-color: @color-grey;

  @media (min-width: @tablet-width) {
    background-color: transparent;
  }
}

.form-radio,
.form-checkbox,
.form-composition__fieldset--contacts,
.form-composition__fieldset-wrapper {
  border: none;

  @media (min-width: @tablet-width) {
    border: 2px solid @gr@color-button-disabled;
    border-radius: 3px;
  }
}

.form-composition input::-webkit-input-placeholder {
  color: @color-basic;
  padding-left: 20px;
}

.form-composition__user-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form-composition__user-item label {
  padding-left: 23px;
  padding-bottom: 17px;
  color: @color-hit;
}

.form-composition__input-text {
  border: 2px solid @color-button-disabled;
  font-size: 18px;
  line-height: 30px;
  padding: 23px 20px;
  margin-top: 17px;
  min-width: 236px;
}

.form-composition__user {
  padding: 0 20px;
}

.form-composition__legend {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @color-hit;
  text-align: center;
  padding-top: 42px;
  margin: 0;
}

.form-composition__progress-item {
  padding-bottom: 47px;
}

.form-composition__progress-item:last-child {
  padding-bottom: 55px;
}

.form-composition__progress-item:first-child {
  padding-top: 55px;
}

.form-composition__progress-list,
.form-composition__app-list,
.form-composition__legend {
  padding: 0 20px;
  list-style-type: none;
}

.form-composition__fieldset--app,
.form-composition__fieldset--progress {
  background-color: @color-grey;
  margin-top: 30px;
}

.form-composition__app-item {
  padding-top: 38px;
}

.form-composition__app-item:first-child {
  padding-top: 52px;
}

.form-composition__app-item:last-child {
  padding-bottom: 54px;
}

.form-composition__fieldset--contacts {
  padding: 0 20px;
}

.form-composition__contacts-list,
.form-composition__user-list {
  list-style-type: none;
}
