.news__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.news__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

a.news__more {
  color: @color-hit;
  text-decoration: underline;
}

.news__study {
  display: none;
}
