.page-header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  color: @color-white;
  background-color: @color-darkblue;
  background-image: url("../img/page-header-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.page-header--no-js {
  height: auto;
  margin-bottom: 0;
  background-size: cover;
}

.page-header--no-js .main-nav {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  background-color: @color-basic;
}

.page-header--no-js .page-header__toggle {
  display: none;
}

.page-header--no-js .main-nav__list {
  display: block;
}

.page-header--no-js .page-header__logo-button {
  height: 70px;
  background-color: @color-basic;
  border-bottom: 1px solid @color-black;
}

.page-header__menu {
  background-color: @black-03;
}

.page-header__menu--closed .main-nav__list {
  display: none;
}

.page-header__nav {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.page-header__logo-button {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 63px;
}

.page-header__logo {
  fill: @color-hit;
  color: @color-hit;
}

.page-header__menu--closed .page-header__close {
  display: none;
}

.page-header--no-js .page-header__close {
  display: none;
}

.page-header__close,
.page-header__open {
  fill: @color-white;
}

.page-header__logo-img {
  fill: @color-white;
}

.page-header__logo-tablet {
  fill: @color-white;
  color: @color-white;
}

.page-header__logo-mobile {
  fill: @color-white;
}

.page-header__logo-desktop {
  display: block;
  fill: @color-white;
  color: @color-hit;
}

.page-header__nav {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.page-header__menu--closed .page-header__close {
  display: none;
}

.page-header__menu--closed .page-header__open {
  display: none;
}

.page-header__logo[href] {

  &:hover .page-header__logo-img,
  &:hover .page-headeer__logo-tablet,
  &:hover .page-header__logo-desktop {
    fill: @color-hit;
    color: @color-hit;
  }

  &:active .page-header__logo-img,
  &:active .page-header__logo-tablet,
  &:active .main-nav__logo-desktop {
    fill: @color-white;
    color: @color-white;
    opacity: 0.3;
  }
}

.page-header__close,
.page-header__open {
  fill: @color-white;
}

.page-header__toggle {
  padding: 10px 0;

  &:hover .page-header__close,
  &:hover .page-header__open {
    fill: @color-hit;
  }

  &:active .page-header__close,
  &:active .page-header__open {
    opacity: 0.3;
  }
}

.page-header__top-line {
  padding: 0 20px;
}

.page-header a {
  color: inherit;
}

.page-header__caption {
  background-color: @color-darkblue;
  color: @color-white;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-header__caption-index {
  background-color: @color-darkblue;
  color: @color-white;
  background-image: url("../img/mobile.png"), url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: left bottom, center center;
  background-size: 320px 286px, cover;
  min-height: 396px;
}

.page-header__caption-form {
  color: @color-white;
  background-repeat: no-repeat;
  background-position: left bottom, center, center;
  background-size: 320px 286px, cover;
  min-height: 396px;
  width: 100%;
}

.page-header__logo {
  margin-top: 0;
  padding-top: 22px;
  display: block;
}

.page-header a {
  color: inherit;
}

.page-header--no-js .page-header__toggle {
  display: none;
}

.page-headeer--no-js .page-header__top-line {
  height: 70px;
  background-color: @color-black-green;
  border-bottom: 1px solid @color-black;
}
