.page-header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  color: @color-white;
  background-color: @color-darkblue;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/back_tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.png");
    }
  }
  &--home {
    background-position-y: bottom;
  }
}

.page-header__wrapper {
  position: relative;

  &--home {
    padding-top: 25px;

    @media @tablet-width {
      padding-top: 61px;
    }

    @media @desktop-width {
      padding-top: 66px;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}

.page-header__wrapper--form .header-title {
  margin: 0;
}

.page-header__menu {
  background-color: fade(@color-black, 30%);

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }
}

.page-header__caption {
  background-color: @color-darkblue;
  color: @color-white;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-header__caption-index {
  background-color: @color-darkblue;
  color: @color-white;
  background-image: url("../img/mobile.png"), url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: left bottom, center center;
  background-size: 320px 286px, cover;
  min-height: 396px;
}

.page-header__caption-form {
  color: @color-white;
  background-repeat: no-repeat;
  background-position: left bottom, center, center;
  background-size: 320px 286px, cover;
  min-height: 270px;
  width: 100%;

}
