.page-header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  color: @color-white;
  background-color: @color-basic;
  background-image: url("../img/page-header-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-resolution: 192dpi),
  (min-resolution: @dppx) {
    background-image: url("../img/page-header-back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    background-position: 50% 0;
    background-image: url("../img/page-header-back-tablet.jpg");

    @media (min-resolution: 192dpi),
    (min-resolution: @dppx) {
      background-image: url("../img/page-header-back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/page-header-back-desktop.jpg");

    @media (min-resolution: 192dpi),
    (min-resolution: @dppx) {
      background-image: url("../img/page-header-back-desktop@2x.jpg");
    }
  }
}

  .page-header__menu {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 63px;

    @media (min-width: @tablet-width) {
      min-height: 110px;
    }

    @media (min-width: @desktop-width) {
      padding: 0;
    }
  }

  @media (max-width: @mobile-width-only) {

    .page-header__logo-tablet,
    .page-header__logo-desktop {
      display: none;
    }
  }

  .page-header__logo-img {
    fill: @color-white;
  }

  @media (min-width: @tablet-width) {

    .page-header__logo-img,
    .page-header__logo-desktop {
      display: none;
    }
  }

  .page-header__logo-tablet {
    fill: @color-white;
    color: @color-white;

    @media (min-width: @tablet-width) {
      margin-bottom: 11px;
    }
  }

  @media (min-width: @desktop-width) {

    .page-header__logo-img,
    .page-header__logo-tablet {
      display: none;
    }

    .page-header__logo-desktop {
      display: block;
      fill: @color-white;
      color: @color-hit;
    }
  }

  .page-header__nav {
    height: fit-content;
    display: flex;
    flex-direction: column;

    @media (min-width: @desktop-width) {
      width: 940px;
      margin: 0 auto;
      position: static;
      display: flex;
      flex-direction: row;
    }
  }

  .page-header__menu--closed .page-header__close {
    display: none;
  }

  .page-header__menu--closed .page-header__open {
    display: none;
  }

  .page-header__logo[href] {

    &:hover .page-header__logo-img,
    &:hover .page-headeer__logo-tablet,
    &:hover .page-header__logo-desktop {
      fill: @color-hit;
      color: @color-hit;
    }

    &:active .page-header__logo-img,
    &:active .page-header__logo-tablet,
    &:active .main-nav__logo-desktop {
      fill: @color-white;
      color: @color-white;
      opacity: 0.3;
    }
  }

  .page-header__close,
  .page-header__open {
    fill: @color-white;
  }

  .page-header__toggle {
    padding: 10px 0;

    &:hover .page-header__close,
    &:hover .page-header__open {
      fill: @color-hit;
    }

    &:active .page-header__close,
    &:active .page-header__open {
      opacity: 0.3;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  .page-header__top-line {
    padding: 0 20px;
  }

  .page-header a {
    color: inherit;
  }

  .page-header__caption {
    background-color: @color-darkblue;
    color: @color-white;
    background-image: url("../img/back-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .page-header__caption-index,
  .page-header__caption-form {
    background-color: @color-darkblue;
    color: @color-white;
    background-image: url("../img/mobile.png"), url("../img/back-mobile.png");
    background-repeat: no-repeat;
    background-position: left bottom, center center;
    background-size: 320px 286px, cover;
    min-height: 396px;
  }

  .page-header__logo {
    margin-top: 0;
    padding-top: 22px;
    display: block;
  }

  .page-header a {
    color: inherit;
  }

  .page-header--no-js .page-header__toggle {
    display: none;
  }

  .page-headeer--no-js .page-header__top-line {
    height: 70px;
    background-color: @color-black-green;
    border-bottom: 1px solid @color-black;

    @media (min-width: @desktop-width) {
      position: static;
      background-color: transparent;
      border-bottom: none;
    }
  }
