.profit_title {
  text-align: center;
}

.profit {
  background-size: 157px 320px, 100% 100%;
  background-position: 550px 555px, 0 100px;
}

.profit__item {
  list-style-type: none;
}

.profit__header,
.profit__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin-top: 46px;
}

.profit__subheader {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 24px;
  margin: 0;
  padding-top: 43px;
  text-align: center;
}

.profit__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  text-align: center;
}
