.upload-photo__title {
  padding: 41px 20px 42px;
}

.upload-photo__header {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @color-black-green;
}

.upload-photo__form {
  background-color: @color-grey;
  padding: 20px 20px 40px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 200px;
    right: 0;
    left: 0;
    border-bottom: 1px solid @black-green-border;
  }
}

.upload-photo__img {
  margin: 0 auto 24px;
}

.upload-photo__buttons {
  height: 122px;
  margin: 0 auto;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upload-photo__post {
  border: 3px solid @color-hit;
  border-radius: 30px;

  &:hover {
    outline: none;
    background-color: @color-hit;
    color: @color-white;
  }

  &:active {
    outline: none;
    background-color: @color-hit;
    color: @color-white-1;
  }
}

.upload-photo__cancel {
  border: 3px solid @color-black-green;
  border-radius: 30px;
  color: @color-black-green;
  opacity: 0.1;

  &:hover {
    outline: none;
    opacity: 0.3;
  }

  &:active {
    outline: none;
    background-color: @color-black-green;
    opacity: 0.3;
    color: @color-white-1;
  }
}

.upload-photo__box {
  padding: 0;
  margin: 0;
  border: 0;
}

.upload-photo__list {
  position: relative;
  display: flex;
  padding-bottom: 47px;
  padding-left: 18px;
  padding-right: 32px;
  margin-top: 42px;
  justify-content: space-between;
}

.upload-photo__item {
  flex-grow: 1;
  display: flex;
}

.upload-photo__item:first-child .upload-photo__input-range {
  z-index: 1;
}

.upload-photo__item .upload-photo__input-range:focus,
.upload-photo__item .upload-photo__input-range:active {
  z-index: 2;
}

.upload-photo__input-range {
  position: absolute;
  bottom: 0;
  left: 20px;
  z-index: 0;
  width: calc(100% - 40px);
}

.upload-photo__label-range {
  display: flex;
  margin: auto;
}

.upload-photo__label-range svg {
  margin: auto;
  display: block;
  fill: fade(@color-black-green, 30%);
}

.upoad-photo__label-file {
  display: block;
}

.upload-photo__label-file img {
  display: block;
  margin: 0 auto;
  height: 374px;
  object-fit: cover;
}


