.upload-photo {
  background-color: @color-grey;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 42px;
}

.upload-photo__form {
  display: flex;
}

.upload-photo__left {
  flex-basis: 280px;
}

.upload-photo__right {
  flex-grow: 1;
  padding-left: 47px;
  padding-right: 18px;
  display: flex;
  flex-direction: column;
}

.upload-photo__box:last-child {
  margin-top: auto;
}

.upload-photo__img {
  margin: 0 auto 24px;
}

.upload-photo__buttons {
  height: 122px;
  margin: 0 auto;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upload-photo__post {
  border: 3px solid @color-hit;
  border-radius: 30px;

  &:hover {
    outline: none;
    background-color: @color-hit;
    color: @color-white;
  }

  &:active {
    outline: none;
    background-color: @color-hit;
    color: @color-white-1;
  }
}

.upload-photo__cancel {
  border: 3px solid @color-black-green;
  border-radius: 30px;
  color: @color-black-green;
  opacity: 0.1;

  &:hover {
    outline: none;
    opacity: 0.3;
  }

  &:active {
    outline: none;
    background-color: @color-black-green;
    opacity: 0.3;
    color: @color-white-1;
  }
}

.upload-photo__box {
  padding: 0;
  margin: 0;
  border: 0;
}

.upload-photo__items {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 30px 20px 50px;
  list-style-type: none;
  margin-bottom: 40px;
}

.upload-photo__item {
  margin-left: 20px;
}

.upload-photo__item::before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  left: 0;
  display: block;
  height: 1px;
  background-color: fade(@color-black-green, 10%);
}

.upload-photo__post ~ .filter__cancel {
  margin-top: 26px;
}

@media (min-width: @desktop-width) {
  .upload-photo {
    padding: 0;
  }

  .upload-photo__right {
    padding-left: 89px;
  }

  .upload-photo__item::before {
    right: 0;
  }

  .upload-photo__item:last-child::before {
    display: none;
  }

  .upload-photo__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 45px;
  }

  .upload-photo__post,
  .upload-photo__cancel {
    margin: 0;
  }

  .upload-photo__wrapper {
    padding: 57px 40px 57px 80px;
    margin-bottom: 82px;
  }
}


.upload-photo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 1;
  color: @color-black-green;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.upload-photo__range {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px 32px 20px;
  opacity: 0;
  pointer-events: none;
}

.upload-photo__bar {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: @color-black-green;
}

.upload-photo__control {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 1;
  color: @color-hit;
  background-color: @color-white;
  border: 2px solid @color-hit;
  border-radius: 50%;
  cursor: pointer;
}

.upload-photo__item--active {
  .upload-photo__button {
    color: @color-hit;
    background: url(../img/crop.svg) no-repeat;
    background-position: center;
  }

  .upload-photo__range {
    opacity: 1;
    pointer-events: auto;
  }

  list-style-type: none;
}

.upload-photo__button--fill {
  background: url(../img/fill.svg) no-repeat;
  background-position: center;
}

.upload-photo__button--contrast {
  background: url(../img/contrast.svg) no-repeat;
  background-position: center;
}

.upload-photo__button,
.upload-photo__button:active,
.upload-photo__button:focus {
  outline: none;
}
